#navbar-menu {
	width: 100%;
	text-align: center;
}

#navbar-menu .nav-item {
	color: #f8f9fa;
}

#navbar-menu a:hover {
	background-color: #626a71;
}

h1 {
	font-size: 1.75rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

p {
	margin-bottom: 0.5rem;
}

.container-fluid {
	padding-left: 1rem;
	padding-right: 1rem;
}

#content .row{
	margin-left: 1rem;
	margin-right: 1rem;
}

#content article {
	background-color: whitesmoke;
	margin-bottom: 1.5rem;
}

.card {
	padding-top: 1.25rem;
}

.card > .card-body {
	padding-top: 0;
}